# Ignore build output
/build/
target/

# Eclipse settings
.project
.classpath
.settings/
bin/

# Maven
.mvn/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Tomcat Work/Temp
*.log
*.tmp
*.bak
*.swp
*.swo
logs/
temp/
work/
wtpwebapps/

# IntelliJ (if used)
.idea/
*.iml
out/

# Mac system files
.DS_Store

# Environment/Secrets
.env
*.properties
